{% macro render_article(post, from_index=false) %}
<article>
    <header>
        {% if from_index %}
            <a href="{{ post|url }}">
        {% endif %}

        {% set photo = post.attachments.images.first() %}
        {% if photo and from_index %}
            <img class="article_thumb" src="{{ photo.thumbnail(500)|url }}"/>
        {% elif photo %}
            <img class="article_banner" src="{{ photo.thumbnail(2048)|url }}"/>
        {% endif %}

        <h2>{{ post.title }}</h2>

        {% if from_index %}
            </a>
        {% endif %}

        {% if post.dek %}
            <h3 class="dek">{{ post.dek }}</h3>
        {% endif %}

        {% if not from_index %}
            <p class="meta">Published on {{ post.pub_date|dateformat('long') }}</p>
        {% endif %}
    </header>

    {% if not from_index %}
        {{ post.body }}
    {% endif %}
</article>
{% endmacro %}
