{% from "macros/section.html" import render_section %}

{% macro render_thumbnail(post, in_article_list=false) %}

    {% set get_image = post.attachments.images.get %}
    {% set header = get_image('header.jpg') or get_image('header.png') %}

    {% if header %}
        <img
        {% if in_article_list %}
            src="{{ header.thumbnail(500)|url }}"
        {% else %}
            src="{{ header.thumbnail(1280)|url }}" class="article-banner"
        {% endif %}

        alt="{{ header.description }}" />
    {% endif %}
{% endmacro %}

{% macro render_article(post, in_article_list=false) %}
<article {% if in_article_list %} class="gallery-item" {% endif %}>
    <header
        {% if in_article_list %}
            ><a href="{{ post|url }}">
        {% else %}
            class="page-header">
        {% endif %}

        {{ render_thumbnail(post, in_article_list) }}

        {% if not in_article_list %}
            <div class="content">
        {% endif %}

        <h2>{{ post.title }}</h2>

        {% if in_article_list %}
                </a>
        {% endif %}

        {# Strip enclosing <p> tag #}
        {% if post.dek %}
            <h3 class="dek">{{ (post.dek|safe)[3:-5] }}</h3>
        {% endif %}

        {% if not in_article_list %}
            </div>
        {% endif %}
    </header>

    {% if not in_article_list %}
        <div class="content">
            {{ post.body }}

            <footer>
                <p>Published on {{ post.pub_date|dateformat('long') }}.
                {% if post.mediumUrl %}
                    Also <a href="{{post.mediumUrl}}" rel="alternate">available on Medium</a>.
                {% endif %}
                </p>
            </footer>
        </div>
    {% endif %}
</article>
{% endmacro %}

{% macro render_articles(section, posts, pagination) %}

    {% macro render_content() %}
        <header class="underline-titles centered">
            <h2>{{ section.title }}</h2>

            {{ section.dek }}
        </header>

        <div class="gallery">
            {% for post in posts %}
                {{ render_article(post, true) }}
            {% endfor %}
        </div>

        {{ pagination }}
    {% endmacro %}

    {{ render_section(section, "content posts", render_content) }}

{% endmacro %}
