{% macro render_article(post, from_index=false) %}
<article {% if from_index %} class="gallery-item" {% endif %}>
    <header
        {% if from_index %}
            ><a href="{{ post|url }}">
        {% else %}
            class="single-article page-header">
        {% endif %}

        {% set photo = post.attachments.images.first() %}
        {% if photo and from_index %}
            <img src="{{ photo.thumbnail(500)|url }}"/>
        {% elif photo %}
            <img class="article-banner" src="{{ photo.thumbnail(2048)|url }}"/>
        {% endif %}

        {% if not from_index %}
            <div class="content">
        {% endif %}

        <h2>{{ post.title }}</h2>

        {% if from_index %}
                </a>
        {% endif %}

        {% if post.dek %}
            <h3 class="dek">{{ post.dek }}</h3>
        {% endif %}

        {% if not from_index %}
            </div>
        {% endif %}
    </header>

    {% if not from_index %}
        <div class="content">
            {{ post.body }}

            <footer>
                <p>Published on {{ post.pub_date|dateformat('long') }}</p>
            </footer>
        </div>
    {% endif %}
</article>
{% endmacro %}

{% macro render_articles(title, posts, pagination) %}
    <section class="content posts">

        <header class="underline-titles centered"><h2>{{ title }}</h2></header>

        <div class="gallery">
            {% for post in posts %}
                {{ render_article(post, true) }}
            {% endfor %}
        </div>

        <nav class="pagination">
            {{ pagination }}
        </nav>

    </section>
{% endmacro %}
