{% macro render_pagination(pagination) %}
    <nav class="pagination">
    {% if pagination.has_prev %}
        <a href="{{ pagination.prev|url }}" rel="prev">&laquo; Previous</a>
    {% else %}
        <span class="disabled">&laquo; Previous</span>
    {% endif %}

    | {{ pagination.page }} |

    {% if pagination.has_next %}
        <a href="{{ pagination.next|url }}" rel="next">Next &raquo;</a>
    {% else %}
        <span class="disabled">Next &raquo;</span>
    {% endif %}

    </nav>
{% endmacro %}

{% macro render_more(path) %}
    <nav class="pagination">
        <a href="{{ path }}" rel="next">Read more articles</a>
    </nav>
{% endmacro %}
