{% from "macros/section.html" import render_section %}

{% macro render_content() %}
    {% set photos = this.photos.blocks %}
    <header class="underline-titles centered">
        <h2>{{ this.title }}</h2>

        {{ this.dek }}
    </header>

    <div class="gallery">
        {% for photo in photos %}
            <div class="gallery-item">
                <img src="https://farm1.staticflickr.com/{{ photo.id }}_z.jpg"
                     alt="{{ photo.alt }}" />
            </div>
        {% endfor %}
    </div>
{% endmacro %}

{{ render_section(this, "content photos", render_content) }}
