{% set photos = this.photos.blocks %}

<section class="content photos"
    {% if this.color != "" %}
         style="background-color: {{ this.color }}"
    {% endif %}
    >
    <header class="section-header">
        <h1>{{ this.title }}</h1>

        {% if this.dek %}
            <p>{{ this.dek }}</p>
        {% endif %}
    </header>

    <div class="gallery">
        {% for photo in photos %}
            <div class="gallery-item">
                <img src="https://farm1.staticflickr.com/{{ photo.id }}_z.jpg"
                     alt="{{ photo.alt }}" />
            </div>
        {% endfor %}
    </div>

</section>
