{% from "macros/section.html" import render_section %}

{% set classes = "text-block" %}

{% if this.class %}
    {% set classes = classes ~ " " ~ this.class %}
{% endif %}

{% if this.record._model == 'main' %}
    {% set classes = classes ~ " content" %}
{% endif %}

{% macro render_content() %}
    {% set div_class = "" %}
    {% if this.record._model == 'main' %}
        {% set div_class = "centered " %}
    {% endif %}
    {% if this.title %}
        {% set div_class = div_class ~ "underline-titles " %}
    {% endif %}

    <div class="{{ div_class }}">

        {% if this.title %}
            <h2>{{ this.title }}</h2>
        {% endif %}

        {{ this.text }}

    </div>
{% endmacro %}

{{ render_section(this, classes, render_content) }}
