{% from "macros/section.html" import render_section %}

{% set classes = "text-block" %}

{% if this.class %}
    {% set classes = classes ~ " " ~ this.class %}
{% endif %}

{% if this.record._model == 'main' %}
    {% set classes = classes ~ " content" %}
{% endif %}

{% macro render_content() %}
    {% if this.title %}
        <div class="underline-titles centered">
            <h2>{{ this.title }}</h2>
    {% endif %}

    {{ this.text }}

    {% if this.title %}
        </div>
    {% endif %}
{% endmacro %}

{{ render_section(this, classes, render_content) }}
