{% extends "layout.html" %}
{% from "macros/article.html" import render_article %}
{% block title %}{{ this.title }}{% endblock %}
{% block head %}
    <link rel="alternate" type="application/atom+xml" title="Feed for articles on ianstevens.ca" href="/articles/feed.xml">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:title" content="{{ this.title|escape }}"/>
    <meta property="og:description" content="{{ this.dek|striptags|escape }}"/>
    <meta property="og:image" content="{{ this.attachments.get('header.jpg').thumbnail(1024)|url(external=True) }}"/>
    <meta property="og:url" content="{{ this|url(external=True) }}"/>
{% endblock %}
{% block bodyclass %}page{% endblock %}
{% block body %}
  {{ render_article(this) }}
{% endblock %}
