{% set name = 'Ian Stevens' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ '/static/style.css'|url }}">
    <title>{% block title %}Welcome{% endblock %} — {{ name }}</title>
</head>

<body>
    <header>
        <h1>{{ name }}</h1>
    </header>

    <section id="content" class="page container-fluid">
        {% block body %}{% endblock %}
    </section>

    <footer>
        <ul>
            <li><a href="https://twitter.com/istevens" title="Ian Stevens on Twitter">Twitter</a></li>
            <li><a href="https://flickr.com/istevens" title="Ian Stevens on Flickr">Flickr</a></li>
            <li><a href="https://linkedin.com/in/istevens" title="Ian Stevens on LinkedIn">LinkedIn</a></li>
            <li><a href="https://medium.com/@istevens" title="Ian Stevens on Medium">Medium</a></li>
        </ul>

        <p>&copy; Copyright 2019 by {{ name }}.</p>
    </footer>
</body>
