{% set name = 'Ian Stevens' %}
{% set in_index = this._model == 'main' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ '/static/style.css'|url }}">
    <title>{% block title %}Welcome{% endblock %} — {{ name }}</title>
</head>

<body class="{{ this._model }}">

    {% if not in_index %}
        <header>
            <a href="/"><h1>{{ name }}</h1></a>
        </header>
    {% endif %}

    <section class="page container-fluid">
        {% block body %}{% endblock %}
    </section>

    <footer id="contact">
        {% set footer = site.get('/footer') %}
        {{ footer.body }}

        <p id="copyright">&copy; 2019 by {{ name }}. <a href="https://github.com/istevens/istevens.com/tree/master">Built using Lektor.</a></p>
    </footer>
</body>
