{% extends "layout.html" %}
{% from "macros/article.html" import render_article %}
{% block title %}{{ this.title }}{% endblock %}
{% block bodyclass %}main{% endblock %}
{% block body %}

    <section id="about">
        {% set about = site.get('/about') %}
        <header><h2>{{ about.title }}</h2></header>
        {{ about.body }}
    </section>

    {% set blocks = this.body.blocks %}
    {% set posts = site.query('/articles').limit(blocks|length * 3) %}
    {% for block in blocks %}

        <section class="articles">
            <h2>Recent articles</h2>
            {% for post in posts.limit(3) %}
                {{ render_article(post, true) }}
            {% endfor %}

            <nav>
                <a href="/articles">Read more articles …</a>
            </nav>
        </section>

        {{ block }}
    {% endfor %}

{% endblock %}
