{% extends "layout.html" %}
{% block title %}{{ this.title|replace('|',' ') }}{% endblock %}
{% block head %}
    <link rel="alternate" type="application/atom+xml" title="Feed for articles on ianstevens.ca" href="/articles/feed.xml">
{% endblock %}
{% block bodyclass %}index main{% endblock %}

{% block body %}

    <header id="title">
        {% set ts, te = '<span>', '</span>' %}
        {% set title = this.title|safe %}
        {% set title = ts + (te + ts).join(title.split('|')) + te %}
        <h1>{{ title|safe }}</h1>
    </header>

    {{ this.body }}

{% endblock %}
