{% extends "layout.html" %}
{% from "macros/blog.html" import render_blog_post %}
{% block title %}{{ this.title }}{% endblock %}
{% block bodyclass %}main{% endblock %}
{% block body %}

    {% set blocks = this.body.blocks %}
    {% set posts = site.query('/blog').limit(blocks|length * 3) %}
    {% for block in blocks %}

        <section class="articles">
            <h2>Recent articles</h2>
            {% for post in posts.limit(3) %}
                {{ render_blog_post(post, true) }}
            {% endfor %}
        </section>

        {{ block }}
    {% endfor %}

{% endblock %}
